@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vh;
    font-size: 100%;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    color: #333;
    font-size: 100%;
    font-family: "Mulish", sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#root {}

.form-register {
    width: 100vw;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    /* height: 70%; */
    margin-top: 8vh;
    margin-bottom: 1vh;
    height: 82vh;
    width: 40vw;
    min-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1.875rem 1rem;
    position: relative;
    /* border: 1px solid #ccc; */

}

.heading {
    font-size: 2rem;
    font-weight: 700;
    color: #00432D;
    font-weight: bold;
    text-transform: uppercase;
}



.form-group {
    width: 90%;
    height: 90%;
    padding: 0 0 0.75rem;
    margin: 0.75rem 0 0 0;
    position: relative;
    flex: 1;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-size: 14px;
    font-weight: 600;
}

.form-input {
    width: 100%;
    height: 14px;
    padding: 0.5rem;
    /* border-radius: 3px;
    border: 1.5px solid #b3b3b3; */
    outline: none;
    font-size: 1rem;
    margin: 0 0 2px;
    border: 2px solid #7DBE8D;
    border-radius: 2.406rem;
    background-color: #F7FFF7;
}

.form-date {
    right: 0;
}

.form-group-2 {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 45%;
    height: 100%;
    padding: 0 0 0.75rem;
    margin: 0;

}



.form-input:hover {
    border: 2px solid #40f46d;
    /* background-color: #fff; */
}


.form-group.invalid .form-input {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 13px;
    font-size: 13px;
    /* line-height: 1.6rem; */
    padding: 0 0 4px;
    margin-bottom: 4px;
    color: #f33a58;
}

.form-register .form-aside {
    display: inline-block;
    padding-top: 1rem;
    font-size: 1rem;
    width: 50%;
}

.form-register .form-aside p {
    display: inline;
}

.form-register .form-aside a {
    display: inline;
    text-decoration: none;
    margin-left: 0.5rem;
    color: #FFC300;
}


.form-register .form-submit {
    /* width: 90%; */
    position: absolute;
    top: 0;
    display: inline;
    width: 30%;
    /* padding: 12px 0 */
    margin-left: 20%;
    /* margin: 24px 40px 0 18vw; */
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #FFC300;
    color: #3E2F00;
    border-radius: 1.563rem;
    outline: none;
    border: none;
    cursor: pointer;
    height: 4.5vh;
    text-align: center;

}

.form-submit:hover {
    opacity: 0.8;
}




.form-group .form-gender div {
    margin: 0.75rem 1rem;
}

@media only screen and (min-width: 799px) and (max-width: 1365px) {

    .form-register .form {


        height: 90%;
        width: 40vw;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 1.875rem 1rem;
        position: relative;
        /* border: 1px solid #ccc; */

    }

    .form-register .form-group {
        width: 90%;
        height: 56px;
        padding: 0;
        margin: 10px 0 0 0;
        position: relative;
        flex: 1;
    }

    .form-register {
        width: 100vw;
        height: 92%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-register .form-group-2 {
        /* position: absolute; */
        /* top: 0; */
        display: inline-block;
        width: 45%;
        height: 100%;
        padding: 0 0 0.75rem;
        margin: 0;
    }

    .form-register .form-input {
        width: 100%;
        height: 26px;
        padding: 10px 10px;
        outline: none;
        font-size: 14px;
        margin: 0 0 2px;
       
    }

    .form-register .form-label {
        font-size: 100%;
        margin-bottom: 2%;
    }

    .form-register .form-message {
        font-size: 75%;
        line-height: 1.6rem;
        padding: 0 0 4px;
        margin-bottom: 14px;
        margin-left: 8px;
    }
    .form-register .form-submit {
        /* width: 90%; */
        position: absolute;
        top: 20px;
        display: inline;
        width: 30%;
        /* padding: 12px 0 */
        margin-left: 20%;
        /* margin: 24px 40px 0 18vw; */
        font-size: 1.25rem;
        font-weight: 700;
        background-color: #FFC300;
        color: #3E2F00;
        border-radius: 1.563rem;
        outline: none;
        border: none;
        cursor: pointer;
        height: 4.5vh;
        text-align: center;
    
    }
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1365px) and (max-width: 1919px) {
    .form-register .form {
        height: 46rem;
        width: 40vw;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 1.875rem 1rem;
        position: relative;
        /* border: 1px solid #ccc; */

    }

    .form-register .form-group {
        width: 90%;
        height: 56px;
        padding: 0;
        margin: 10px 0 0 0;
        position: relative;
        flex: 1;
    }

    

    .form-register .form-group-2 {
        /* position: absolute; */
        /* top: 0; */
        display: inline-block;
        width: 45%;
        height: 100%;
        padding: 0 0 0.75rem;
        margin: 0;
    }

    .form-register .form-input {
        width: 100%;
        height: 40px;
        padding: 10px 16px;
        outline: none;
        font-size: 13px;
        margin: 0 0 2px;
        border: 2px solid #7DBE8D;
        border-radius: 2.406rem;
        background-color: #F7FFF7;
    }

    .form-register .form-label {
        font-size: 16px;
        margin-bottom: 4px;
        
    }

    .form-register .form-message {
        font-size: 14px;
        line-height: 1.6rem;
        padding: 0 0 4px;
        margin-bottom: 14px;
        margin-left: 10px;
    }
    .form-register .form-submit {
        /* width: 90%; */
        position: absolute;
        top: 20px;
        display: inline;
        width: 30%;
        /* padding: 12px 0 */
        margin-left: 20%;
        /* margin: 24px 40px 0 18vw; */
        font-size: 1.25rem;
        font-weight: 700;
        background-color: #FFC300;
        color: #3E2F00;
        border-radius: 1.563rem;
        outline: none;
        border: none;
        cursor: pointer;
        height: 4.5vh;
        text-align: center;
    
    }
    html {
        font-size: 14px;
    }
.form-register {
    width: 100vw;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-register .form-aside {
    display: inline-block;
    padding-top: 26px;
    font-size: 1rem;
    width: 50%;
}
html {
    font-size: 14px;
}
}


@media only screen and (min-width: 1920px) {
    .form-register .form {
        height: 90%;
        width: 40vw;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 1.875rem 1rem;
        position: relative;
        /* border: 1px solid #ccc; */

    }

    .form-register .form-group {
        width: 90%;
        height: 56px;
        padding: 0;
        margin: 10px 0 0 0;
        position: relative;
        flex: 1;
    }

    

    .form-register .form-group-2 {
        /* position: absolute; */
        /* top: 0; */
        display: inline-block;
        width: 45%;
        height: 100%;
        padding: 0 0 0.75rem;
        margin: 0;
    }

    .form-register .form-input {
        height: 64px;
        padding: 0.5rem 2rem;
        font-size: 25px;
        margin: 0 0 10px;
        border-radius: 2.406rem;
    }

    .form-register .form-label {
        font-size: 24px;
        margin-bottom: 8px;
        
    }

    .form-register .form-message {
        font-size: 20px;
        margin-left: 10px;
    }
    .form-register .form-submit {
        /* width: 90%; */
        position: absolute;
        top: 20px;
        display: inline;
        width: 30%;
        /* padding: 12px 0 */
        margin-left: 20%;
        /* margin: 24px 40px 0 18vw; */
        font-size: 1.25rem;
        font-weight: 700;
        background-color: #FFC300;
        color: #3E2F00;
        border-radius: 1.563rem;
        outline: none;
        border: none;
        cursor: pointer;
        height: 4.5vh;
        text-align: center;
    
    }
    html {
        font-size: 14px;
    }
    .form-register {
        width: 100vw;
        height: 93%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.form-register .form-aside {
    display: inline-block;
    padding-top: 26px;
    font-size: 1rem;
    width: 50%;
}
html {
    font-size: 14px;
}
}