#mainNavbar {
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #6EDE8A;
    padding: 0;
}

#mainNavbar img {
    margin: 0;
}

#mainNavbar .navbar-brand {
    color: #00432D;
    font-size: 0.75rem;
    margin: 0 8px 0 8px;
}

.navbar-brand .brand-name {
    margin: 3px 0 0 5px;
}

#mainNavbar .nav-link {
    color: #00432D;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 1.5rem;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    /* width: 6.7rem; */
    
    text-align: center;
}

#mainNavbar .nav-link.login {
    background-color: #56AF6C;
    color: white;
    margin-right: 1.8rem;
}

#mainNavbar .nav-link.signup {
    margin-right: 1.2rem;
}

/* #mainNavbar .nav-link:hover {
    color: white;
    background-color: #109669;
} */

#mainNavbar .nav-link.login:hover {
    background-color: #00432D;
}

#mainNavbar .nav-link {
    margin-right: 1.2rem;
}

#mainNavbar .nav-link.admin:hover {
    color: white;
    background-color: #109669;
}

#mainNavbar .nav-link.noti:hover {
    background-color: azure;
}